<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mada.pramukaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconmanifest"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".trisatya" />
        <activity android:name=".dasadharma" />
        <activity android:name=".abaabapbb" />
        <activity android:name=".hymnepramuka" />
        <activity android:name=".dwidarmadwisatya" />
        <activity android:name=".sejarahpramukadunia" />
        <activity android:name=".sejarahpramukaindo" />
        <activity android:name=".skkdantkk" />
        <activity android:name=".tku" />
        <activity android:name=".sandisandi"></activity>
    </application>

</manifest>